#img-show1, #img-show2, #img-show3 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}
#img-show1 {
  background-image: url(girl1.jpg);
}
#img-show2 {
  background-image: url(girl2.jpg);
}
#img-show3 {
  background-image: url(girl3.jpg);
}